<h2 class="pageHeader">STUDENT</h2>

<div class="container">

    <table>
        <tr>
            <th>Name: </th>
            <th>Age: </th>
            <th>Enrolment Number: </th>
            <th>Course: </th>
        </tr>

        <tr>
            <td>$student.name</td>
            <td>$student.age</td>
            <td>$student.enrolmentNumber</td>
            <td>$student.course.getTitle()</td>
        </tr>

    </table>
</div>